body {
  margin: 1em;
  font-size: 12px;
}

#title {
  width: 100px;
  float: left;
  color: white;
}

#title:hover {
  color: black;
}

#content {
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
}

.post {
  width: 500px;
  text-align: left;
  margin-bottom: 50px;
}

img {
  max-width: 500px;
  margin-bottom: 5px;
}

.timestamp {
  padding: 5px 0px 0px 0px; 
  text-decoration: underline;
}


.blockquote {
  border-left: 1px solid lightgrey;
  border-right: none;
  border-bottom: none;
  border-top: none;
  padding: 3px 0px 3px 10px;
  max-width: 500px;
}

.caption {
  padding: 10px 0px 10px 0px;   
}

#footer {
  position: relative;
  text-align: right;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: initial;
}

.pages {
  text-align: right;
}