body {
  margin: 1em;
}

img {
	display: block;
	width: 100%;
}

img:hover {
  cursor: help;
}

.grid-container {
	flex: 1;
  margin: 3em;
}

.grid-container .grid {
	padding: 72px 18px 36px 18px;
	display: grid;
	grid-gap: 18px;
	grid-template-columns: repeat(6, 1fr);	
	align-items: end;
}

@media (max-width: 1200px) {
	.grid-container .grid {
		grid-template-columns: repeat(4, 1fr);	
	}
}

@media (max-width: 800px) {
	.grid-container .grid {
		grid-template-columns: repeat(3, 1fr);	
	}
}

@media (max-width: 600px) {
	.grid-container .grid {
		grid-template-columns: repeat(2, 1fr);	
	}
}

@media (max-width: 400px) {
	.grid-container .grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

figcaption {
  font-size: 11px;
  text-align: right;
  font-family: Helvetica, arial, sans-serif;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  color: black;
  background: white;
  text-align: left;
  padding: 10px;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  width: 120px;
  top: 100%;
  left: 45%;
  margin-top: 5px;
  margin-left: -60px;
  border: 1px solid black;
  line-height: 1.4;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.right {
  text-align: right;
  background: #fcfc54;
  border-radius: 10px;
  padding: 1px 3px 1px 3px;
}