body {
  font-family: helvetica, arial, sans-serif;
  margin: 1em;
  font-size: 11px;
  background: black;
  color: lightgrey;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table, th, td {
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  border: 1px solid lightgrey;
  border-left: none;
  border-right: none;
  border-bottom: none;
  vertical-align: top;
}

img {
  height: 60px;
  padding: 3px 5px 3px 5px;
}

/img:hover {
  margin-top: 1px;
  margin-bottom: -1px;
  background: green;
}

a:hover {
  color: green;
}

td {
  padding: 10px;
  text-align: center;
}

/td:hover {
  color: white;
  background: black;
}

td.img {
  text-align: left;
  padding: 1px;
  vertical-align: top;
}

th.date {
  max-width: 5%;
  text-align: left;
}

td.date {
  width: 8%;
  text-align: left;
  vertical-align: top;
  padding: 3px 0px 3px 1px;
}

/td.img:hover {
  background: yellow;
}

div.right {
  float: right;
  display: inline-block;
}