body {
  margin: 1em;
}
#outer-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
#cloud-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1em;
}
img {
  width: 200px;
  margin: 0 0.5em 0.5em 0em;
}
#buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
a {
  color: black;
  background: white;
  padding: 5px;
  border: 1px solid black;
  margin-right: 0.4em;
  border-radius: 5px;
  text-decoration: none;
}
a.active {
  color: white;
  background: black;
  border: 1px solid white;
}